<!-- HEADER Start -->

<!--[if lt IE 7]>
<p class="browsehappy">您的浏览器 <strong>版本过低</strong>。为获得更好的浏览效果， 请<a href="http://browsehappy.com/">升级</a> 您的浏览器</p>
<![endif]-->
<div class="site-bg"></div>
<div class="site-bg-overlay"></div>

<!-- TOP HEADER -->
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="phone-info">联系我：<a href="#">186 6538 0774</a></p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="{{site.baseurl}}">主页</a></li>
                        <li><a href="{{site.baseurl}}/blog/"></a></li>
                        <li><a href="{{site.baseurl}}/images/wechat.jpg" class="fa fa-weixin" target="_blank"></a></li>
                        <li><a href="https://github.com/YiliaG" class="fa fa-github" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TOP HEADER -->

<!-- HEADER End -->